.table-container {  
  margin: 3%; 
  max-height: 43vh;
  overflow-y: auto; 

  .table-body .table-row {
    text-overflow: ellipsis;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 5vw;
    max-height: 1vh;
    white-space: nowrap;
  }

  .table-body .table-row:hover {
    text-overflow: unset;
    word-wrap: break-word;
    max-height: unset;
    white-space: unset;
  }

  .table-head {
    font-size: 24px;
    background-color: gainsboro;

    .tab-cell {
      font-size: 1.275rem;
    }
  }
}

::-webkit-scrollbar {
  width: 0px;  
  background: transparent;  
}

html {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}

@media (max-width: 375px) {
  .table-container {
  max-height: 70vh;
  }
}